spring:
  application:
    name: estate

  datasource:
    url: jdbc:postgresql://localhost:5432/estate
    username: estate
    password: estatePassword
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  token-expiration: 3600 # 1 hour